html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  body {
    height: 100%;
    border: 5px solid black;

    padding: 0px 50px;
    margin: 0px;
  }
  
  header {
    overflow: hidden;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav {
    background: rgba(0, 255, 0, 0.3);
  }
  
  ul#current-difficulty {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
  }
  
  ul#current-difficulty li {
    margin: 0;
    padding: 0;
    flex: 1;
    padding: 1rem;
    text-align: center;
  }
  
  main {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    text-align: center;
  }

  button {
    margin: 100px;
  }
  
  #correct {
    background: rgba(255, 0, 0, 0.3);
    width: 20%;
  }
  
  #quiz-question {
    background: rgba(255, 0, 255, 0.3);
    width: 60%;
  }
  
  #incorrect {
    background: rgba(255, 0, 0, 0.3);
    width: 20%;
  }
  
  footer {
    background: rgba(0, 255, 255, .4);
    display: flex;
  }
  
  #timer {
    flex: 1;
    background: rgba(0,0, 0,0.3);
    padding: 1rem;
  }
  
  #progress {
    flex: 1;
    padding: 1rem;
  }
